@font-face {
    font-family: 'FC Muffin';
    src: url('FCMuffinRegular.woff2') format('woff2'),
        url('FCMuffinRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FC Muffin';
    src: url('FCMuffinItalic.woff2') format('woff2'),
        url('FCMuffinItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: '2005_iannnnnAMD';
    src: url('2005_iannnnnAMD.woff2') format('woff2'),
        url('2005_iannnnnAMD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '2005_iannnnnSMS';
    src: url('2005_iannnnnSMS.woff2') format('woff2'),
        url('2005_iannnnnSMS.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


